%h2 WhatPulse Comparator
%form{:id => "users_form", :onSubmit => "return false;", :role => "form", :class => "form-inline"}
  %input{:type => "text", :name => "user1", :class => "form-control", :value => @user1, :id => 'user1'} 
  %input{:type => "text", :name => "user2", :class => "form-control", :value => @user2, :id => 'user2'} 
  %input{:type => "submit", :value => "Compare!", :class => "btn btn-primary"}
%br
