.user-info{align: 'center'}
  .user-basics
    %span.user-name wyaeiga

  .user-team-info
    .team-keys
      %span.keys-count 31252557
    .team-clicks
      %span.clicks-count 45982289
    .team-download
      %span.download-count 585387
    .team-upload
      %span.upload-count 218598
    .team-uptime
      %span.uptime-count 2159882598
