.container
  .query-container.center-column
    = render partial: 'form'

  .left-column
    = render partial: 'user_data'

  .center-column
    = render partial: 'charts'

  .right-column
    = render partial: 'user_data'
