@import 'mixins';

.query-container { width: 434px;
  height: 100px;
  position: absolute;
  top: 35%;
  left: 50%;
  margin-left: -217px;
  z-index: 1;

  h2 {
    text-align: center;
  }
}

.canvases-container {
  width: 400px;
  margin-top: 150px;
}

@include keyframes(slide) {
  100% { top: 10px }
}

.query-container-top {
  @include animation(slide, 0.5s);
}
