// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.query-container {
  width: 434px;
  height: 100px;
  position: absolute;
  top: 35%;
  left: 50%;
  margin-left: -217px;
  z-index: 1;

  h2 {
    text-align: center;
  }
}

.canvas-container {
}

.canvases-container {
  width: 400px;
  margin-top: 150px;
}

.canvas-label {
  text-align: center;
  vertical-align: middle;
  width: 200px;
  position: absolute;
  margin-left: 100px;
  margin-top: 180px;
  font-size: 200%;
}

.chart-label {
  text-align: center;
  vertical-align: middle;
  width: 200px;
  position: absolute;
  margin-left: 100px;
  margin-top: -225px;
  font-size: 200%;
  color: #fffef7;
}

.label-detail {
  font-size: 50%;
}

.active-chart {
  z-index: 9999;
}

.chart {
  position: absolute;
  background: #fff;
}

.chart-control {
  margin-top: 410px;
  position: absolute;
}

@for $i from 0 through 359 {
  .deg#{$i} {
    $should_be_upside_down : $i>90 and $i<270;
    -webkit-transform: rotate(#{(90-$i)*-1}deg) translate(5.3em) rotate(#{if($should_be_upside_down, 270, 90)}deg);
  }
}
