!!!
%html
  %head
    %title WPC
    = csrf_meta_tags
    %link{rel: 'stylesheet', type:'text/css', href:'http://bootswatch.com/lumen/bootstrap.min.css'}
    %link{rel: 'stylesheet', type:'text/css', href:'index.css'}
  %body
    = yield
